<h1>Teste de Página Index do Controle Welcome</h1>
<h3><%= @teste %></h3>
<br>
<a href="/customers">Cadastro de Clientes</a><br>
<%= link_to "Cadastro de Clientes", "/customers" %><br>
<%= link_to "Cadastro de Clientes", customers_path %>